<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>
  </article>

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %> &raquo; Reviews</h1>
  </header>
  <% if current_user %>
  <section>
    <div class="well">
    <%= form_for [@product, @review] do |form| %>
      <div class="form-group">
        <%= form.label :rating %>
        <%= form.select :rating, options_for_select([1,2,3,4,5]), {}, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= form.label :description %>
        <%= form.text_area :description, class: 'form-control' %>
      </div>
      <%= form.submit 'Create Review', class: 'btn btn-primary' %>
    <% end %>
    </div>
  </section>
  <% end %>

  <article class="product-detail">
    <% @product.reviews.reverse_each do |review| %>
    <div class="row">
      <div class="col-sm-12">
        <h4>
          <%= review.user.name %>
          <% if current_user && review.user.id == current_user.id %>
            - <%= link_to "Delete Review", [@product, review], method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </h4>
        <% review.rating.times do |i| %>
          <%= fa_icon "star" %>
        <% end %>
        <p><%= review.description %></p>
      </div>
    </div>
    <% end %>
  </article>

</section>
